*{
    margin: 0 ;
    padding:0;
    font-family: sans-serif;
}




.navi{
    background-color:rgba(3, 207, 248, 0.187);
    padding: 2px 100px;
  
    display:inline-block;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    display:flex;

}
body{
    background-image: url(mycar1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.but{
    background-color: none;
    border: 3px;
    padding: 20px 40px;
    border-radius: 4px;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
    display:inline-block;
    align-items: left;
    justify-content: space-between;
    display:flex;
    color:blue;
    
}
.but :hover{
    color: red;
    transform: scale(1.2);
    cursor: pointer;
}
.image{
    width: 40%;
    height: 100%;
    position: absolute;
    right: 100%;

}


